.collections-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection{
    width: 50vw;
    height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 40vw;
}

.collection-header{
    padding-bottom: 2vh;
}

#banner-image{
    width: 100%;
}

#shopOurCollections {
    padding-top: 5%;
    
}
    

#h3Home{
    text-align: center;
}

.imageHome{
    height: 30vh;
}

.containerall{
    display: flex;
    justify-content: center;
    margin-top:10%;
    height: 62vh;
}

.commentsConntainer{
    text-align: center;
    box-shadow:  0 0 20px 20px;
    color :black;
    width: 40%;
    height: 46vh;
    overflow: hidden;
    
}


/* .commentsimage{
    width: 100%;
    
} */

.image_slider {
    margin-top: 10%;
    position: relative;
    height: 70vh;
    /* height: 300px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .slider-image {
    position: absolute;
    height: 55vh;
    left: 110%;
    transition: left 0.5s;
    box-shadow: 5px 5px 5px 5px rgb(112, 105, 105);
  }
  
  .current {
    left: 37vw;
  }

  .buttonNext{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }