.collections-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection{
    width: 50vw;
    height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35vh;
    width: 40vw;
}

.collection-header{
    padding-bottom: 2vh;
}

#banner-image{
    width: 100%;
}

h3 {
    padding-top: 5%;
    
}
    

#h3Home{
    text-align: center;
}

.imageHome{
    height: 30vh;
}